@{
    ViewData["theme"] = ThemeSetter.SetThemeClass(Context);
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - EdPlatformWebsite</title>

    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

    <script src="~/js/site.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id"
        content="556467921036-ctdbhng9aavt4lq9j9ve2009vkkukibs.apps.googleusercontent.com">
</head>

<body class='@ViewData["theme"]'>
    <div class='navbar'>
        <a class=" brand text dark" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/images/logo.svg" alt="Logo">
            <span>EdPlatform</span>
        </a>

        <partial name="_LoginPartial" />

        <button class="button text dark right" style="cursor: pointer;" onclick="darkMode()">dark</button>
    </div>
    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
