<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - EdPlatformWebsite</title>

    <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EdPlatformWebsite.styles.css" asp-append-version="true" />

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id"
        content="556467921036-ctdbhng9aavt4lq9j9ve2009vkkukibs.apps.googleusercontent.com">
</head>

<body>
    <div class='navbar'>
        <a class="brand" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/images/logo.svg" alt="Logo">
            <span>EdPlatform</span>
        </a>
        <a asp-area="" asp-controller="Modules" asp-action="Index">Modules</a>
        <a asp-area="" asp-controller="Lessons" asp-action="Index">Lessons</a>
        <a asp-area="" asp-controller="Exercises" asp-action="Index">Exercises</a>
        <a asp-area="" asp-controller="IOCases" asp-action="Index">Inputs and outputs</a>
        <partial name="_LoginPartial" />
    </div>
    @RenderBody()
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
