@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button type="submit" class="button text dark right">Logout</button>
    </form>
    <a class='text dark right' asp-area="Identity" asp-page="/Account/Manage/Index">@User.Identity?.Name</a>
}
else
{
    <a class='text dark right' asp-area="Identity" asp-page="/Account/Login">Login</a>
    <a class='text dark right' asp-area="Identity" asp-page="/Account/Register">Register</a>
}
