@model EdPlatformWebsite.Models.Lesson

@{
    ViewData["Title"] = Html.DisplayFor(model => model.Number)+". "+Html.DisplayFor(model => model.Name);
}

<partial name="_SidebarPartial" />
<div class='content theory'>
    @Html.Raw(Html.DisplayTextFor(model => model.Content))
</div>
