@model EdPlatformWebsite.Models.Lesson

@{
    ViewData["Title"] = Html.DisplayTextFor(model => model.Number)+". "+Html.DisplayTextFor(model => model.Name);
}

<partial name="_SidebarPartial" />
<div class='content no-sidebar left'>
    @Html.Raw(Html.DisplayTextFor(model => model.Content))
</div>
