@{
    ViewData["Title"] = "EdPlatform";
}

<img class="background" src="~/images/background.png" alt="Background Image" />
<div class="background gradient"></div>
<div class="content dark">
    <h1 class="title dark big">EdPlatform</h1>
    <p class='dark big'>Майбутній Python програмісте! Вітаємо на нашій навчальній платформі. Тут ти зможеш навчитися основ програмування мовою Python, і не тільки.</p>
    <p class='dark big'>Увесь матеріал поділений на модулі та уроки. Протягом уроку ти зможеш ознайомитися з теоретичним матеріалом теми, викладеним у формі прикладів, таблиць та правил.</p>
    <p class='dark big'>Після кожного уроку тебе чекатимуть вправи, з допомогою яких можна закріпити вивчений матеріал та перевірити свої знання.</p>
    <p class='dark big'>До нових звершень та щасти на шляху до становлення справжнім програмістом!</p>
</div>
