@{
    ViewData["Title"] = "EdPlatform";
}

<img class="background" src="~/images/background.png" alt="Background Image" />
<div class="background gradient"></div>
<div class="content">
    <div class="title big">EdPlatform</div>
    <p class="paragraph">Майбутній Python програмісте! Вітаємо на нашій навчальній платформі. Тут ти зможеш навчитися основ програмування мовою Python, і не тільки.</p>
    <p class="paragraph">Увесь матеріал поділений на модулі та уроки. Протягом уроку ти зможеш ознайомитися з теоретичним матеріалом теми, викладеним у формі прикладів, таблиць та правил.</p>
    <p class="paragraph">Після кожного уроку тебе чекатимуть вправи, з допомогою яких можна закріпити вивчений матеріал та перевірити свої знання.</p>
    <p class="paragraph">До нових звершень та щасти на шляху до становлення справжнім програмістом!</p>
</div>
