@{
    ViewData["Title"] = "EdPlatform";
}

<div class="main-page-content">
    <img src="~/images/background.png" alt="Background Image" class="main-page-background" />
    <div class="main-page-title">EdPlatform</div>
    <p class="main-page-text">
        &nbsp;Майбутній Python програмісте! Вітаємо на нашій навчальній платформі. Тут ти зможеш навчитися основ програмування мовою Python, і не тільки. <br>
        &nbsp;&nbsp;Увесь матеріал поділений на модулі та уроки. Протягом уроку ти зможеш ознайомитися з теоретичним матеріалом теми, викладеним у формі прикладів, таблиць та правил.
        Після кожного уроку тебе чекатимуть вправи, з допомогою яких можна закріпити вивчений матеріал та перевірити свої знання. <br>
        &nbsp;&nbsp;До нових звершень та щасти на шляху до становлення справжнім програмістом!
    </p>
</div>
