@model EdPlatformWebsite.Models.Exercise

@{
    ViewData["Title"] = "Details";
}

<partial name="_SidebarPartial" />
<div class='sidebar exercise'>
    <p class='title dark'>@(Html.DisplayTextFor(model => model.Number)+". "+Html.DisplayTextFor(model => model.Name))</p>
    <div class='section'>
         <p class='text dark'>@Html.DisplayNameFor(model => model.Description)</p>
    </div>
    
</div>
<div class='content no-sidebar left right'>
    <div id="editor"></div>

    <script src="~/js/code-editor/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/js/code-editor.es5.min.js" asp-append-version="true"></script>
</div>
