@model EdPlatformWebsite.Models.Exercise

@{
    ViewData["Title"] = "Details";
}

<partial name="_SidebarPartial" />
<div class='sidebar exercise'>
    <p class='title dark'>@(Html.DisplayTextFor(model => model.Number)+". "+Html.DisplayTextFor(model => model.Name))</p>
    <div class='section'>
         <p class='text dark'>@Html.DisplayNameFor(model => model.Description)</p>
    </div>
    <button type='button' onclick="sendCode()">Send code</button>
    @if(ViewBag.Result != null)
    {
        <p class='title dark'>Result</p>
        <p class='text dark'>@ViewBag.Result</p>
    }
</div>
<div class='content no-sidebar left right'>
    <form name='codeForm' asp-action="CheckCode" method='post'>
        <input type='hidden' asp-for="Id" />
        <input type='hidden' name='code' />
        <div id="editor"></div>
    </form>

    <script src="~/js/code-editor/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/js/code-editor.es5.min.js" asp-append-version="true"></script>
</div>
