@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="form">
    <h1 class="title">@ViewData["Title"]</h1>

    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Input.Email">Email</label>
            <span asp-validation-for="Input.Email" class="warning right"></span>
            <input asp-for="Input.Email" autocomplete="username" aria-required="true"
                placeholder="example@gmail.com" class="field" />
        </div>

        <div class="form-group centered">
            <button type="submit" class="submit">Reset password</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
