html {
    font-size: 18px;
}

@media (min-width: 768px) {
    html {
        /*Add for mobile*/
    }
}

body {
    margin: 0;
    overflow: hidden;
}

.navbar {
    overflow: hidden;
    background-color: #39876F;
}

    .navbar a {
        float: left;
        color: #FFFEF2;
        text-align: center;
        padding: 10px 16px;
        text-decoration: none;
        text-shadow: 2px 4px 4px rgb(0 0 0 / 25%);
    }

.brand {
    position: relative;
}

    .brand img {
        width: 20px;
        float: left;
        margin: auto;
        position: absolute;
        bottom: 10px;
    }

    .brand span {
        padding-left: 25px;
    }

.navbar .right {
    float: right !important;
}

.navbar a:hover:not(.brand) {
    background-color: #276e59;
}

.background {
    position: absolute;
    width: 100%;
    z-index: -1;
}

    .background.gradient {
        background: linear-gradient(180deg, rgba(255, 254, 242, 0) calc(100vw/16*9/100*60), rgba(255, 254, 242, 1) calc(100vw/16*9/100*80));
        height: 100%
    }
/*Content*/
.content {
    font-size: 1.5em;
    margin: 0 15%;
    color: #FFFEF2;
    text-shadow: 1px 2px 2px rgb(0 0 0 / 25%);
}

    .content p {
        text-align: justify;
        text-indent: 1em;
        margin: 0.25em;
    }

/*Title*/
.title {
    font-weight: bold;
    font-size: 2em;
    text-shadow: 2px 4px 7px rgb(0 0 0 / 25%);
    text-align: center;
}

.main-page-text {
    position: absolute;
    display: flex;
    left: 13.89%;
    right: 13.89%;
    top: 23.54%;
    bottom: 0;
    font-family: Roboto Mono, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 128.7%;
    text-align: justify;
    text-indent: 1.25rem;
    color: #FFFEF2;
    z-index: -1;
    text-shadow: 2px 4px 7px rgba(0, 0, 0, 0.25);
}

.admin-title{
    color: #39876f;
}

.admin-lessons-table {
    font-family: Roboto, serif;
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: end;
}

.admin-lessons-table td, .admin-lessons-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
.admin-lessons-table tr:nth-child(even){background-color: #f2f2f2;}
  
.admin-lessons-table tr:hover {background-color: #ddd;}

.admin-lessons-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: end;
    background-color: #39876f;
    color: white;
}

.create-lesson-link{
    background-color: #39876F;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-bottom: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.admin-content{
    text-align: center;
}
    .title.big {
        margin: 1em 0;
    }

    .title.medium {
        margin: 0.5em 0;
    }

    .title.small {
        margin: 0 0;
    }
